$primary: #070607;
$info: #62466B;
$danger: #FF4365;
$warning: #E1B07E;

@import "../../node_modules/bootstrap/scss/bootstrap";
.hanze-crime-monitor {
  background: #ffffff !important;
  font-family: "Neue Helvetica W02", "Helvetica Neue", Helvetica, Arial, sans-serif !important;

  .navbar {
    .navbar-brand {
      background: url("../images/hanze-logo.svg") no-repeat center center;
      background-size: contain;
      min-width: 5rem;
      min-height: 3rem;
    }
  }

  .crime-table {
    th, td {
      width: percentage(1/4);
    }
  }

}